header{
    .bg-menu {
        background-color: $color-main;
        .text-menu{
            color: white;
            text-decoration: none;
            font-family: $fuente-titulo;
            font-weight: 500;
            padding: 5px;
            align-items: center;
        }
        }
        
    }
    #encabezado {
    display: flex;
    background-color: $color-main;        
}
     #logo {
        padding: 5%;
        margin: 0;
        width: 20%;
        height: auto;
        }
     #titulo {
        color: white;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 3em;
        text-align: center;
        margin-top: 7%;
        align-items: center;
        justify-items: center;
    }

