@media (max-width: 768px) {
    .portada-main {
        display: grid;
        grid-template-areas:
        "img" 
        "texto"
        "parrafo" 
        "multimedia";
        gap: 5px;
        
    }
}

@media (max-width:768px) {
    .conteiner-cursos {
        display: grid;
        grid-template-areas: 
        "titulod"
        "imgd"
        "listad"
        "titulof"
        "imgf"
        "listaf";
        gap: 5px;
    }
    #titulo-d{
        margin: 10px;
        font-size: 2em;
        border-radius: 25px 25px 0 25px;      
    }
    #img-d{
        border-radius: 15% 0 15% 15%;
        margin: 10px;
    }
    #lista-d{
        font-size: 1.5em;
        text-align: center;
        list-style: none;
    }
    #titulof{
        font-size: 2em;
        margin: 10px;
    }
    #img-f{
        border-radius: 0 15% 15% 15%;
    }
    #lista-flia{
        font-size: 1.5em;
        text-align: center;
        list-style: none;
    }
}
@media (max-width:768px){
    header #logo{
        padding: 0;
        margin: 0; 
        width: 30%;
        height: auto       
    }
    header #titulo{
        color: white;
        font-family:$fuente-titulo;
        font-weight: 600;
        font-size: 2.5em;
        text-align: center;
        margin-top: 11%;
        align-items: center;
        justify-items: center;
    }
}