*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #25e2d5;
}
#logo {
    padding: 10px;
    margin: 5% 60% 1% 20%; 
}
#titulo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: -120px;
}
ul.menu{
    list-style: none;
    margin: 5% 20%;
    padding: 20px;
    background-color: rgb(5, 150, 150);
    

}
li{
    display: inline;
    color: white;
    font-family: 'Roboto', sans-serif;
}
a{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    text-align: center;

}
ul.menu li a:hover {
    background-color: aquamarine;}
.imgCentral {
    height: auto;
    width: 80%;
    border-radius: 15%;
    margin: -40px 10% 5px 10% 
    
}
h1.tituloSeccion {
    font-family: 'Montserrat', sans-serif;
    color: rgb(2, 87, 87);
    text-align: center;
}
h2.subtituloSeccion {
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black;
    margin: 20px;

}
h3.descripcion {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

footer {
    text-align: center;
    color: white;
    background-color: rgb(6, 187, 187);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
}
.flex-conteiner {
    display: flex;
    background: linear-gradient(to right, rgb(4, 155, 155), aqua);
    flex-direction: row;
    height: auto;
    width: auto;
    align-content: space-around;
}
.flex-conteiner .flex-texto {   
    align-items: flex-start;

}
.flex-conteiner .flex-multimedia {
    align-items: flex-end;

}
