*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#encabezado {
    display: flex;
    background-color: #25e2d5;
}
#logo {
    padding: 5%;
    margin: 0; 
    width: 20%;
    height: auto;
}
#titulo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-align: center;
    margin-top: 7%;
    align-items: center;
    justify-items: center;
}
.portada-main {
    display: grid;
    grid-template-areas:
    "img img" 
    "texto texto"
    "parrafo multimedia";
    gap: 5px;
    

}
.img-main {
    max-width: 100%;
    height: auto;
    grid-area: img;
}
.texo-main {
    background: linear-gradient(to right, #25e2d5, #b5f014);
    color: white;
    max-width: 100%;
    grid-area: texto;
    text-shadow: 2px 1px 1px gray;
    }
.parrafo-main {
    grid-area: parrafo;
    width: auto;
    height: 20em;
    background: linear-gradient(to right, #25e2d5, #b5f014);
    color: white;
    text-align: center;
    text-shadow: 2px 1px 1px gray;
    
}
.multimedia-main {
    justify-content: center;
    max-width: 100%;
    height: 20em;
    grid-area: multimedia;
    }
 

footer {
    text-align: center;
    color: white;
    background-color: rgb(6, 187, 187);
    font-family: Arial, Helvetica, sans-serif;
}
.conteiner-cursos {
    display: grid;
    grid-template-areas: 
    "titulod imgd"
    "listad imgd"
    "imgf titulof"
    "imgf listaf";
}
#titulo-d {
    grid-area: titulod;
    height: 20%;
}
#lista-d {
    grid-area: listad;
}
#img-d {
    grid-area: imgd;
    height: auto;
    width: 100%;
    border-radius: 15% 15% 15% 0;
}
#titulo-flia {
    grid-area: titulof;
}
#lista-flia {
    grid-area: listaf;
}
#img-f {
    grid-area: imgf;
    height: auto;
    width: 100%;
    border-radius: 15% 0 15% 15%
}
.nosotros-card {
    box-shadow: 5px 5px 3px grey;
}
.staff {
    gap: 2%;
    justify-content: center;
    margin-bottom: 5%;
}
.img-staff {
    border-radius: 20% 0 20% 0;
    box-shadow: 3px 3px 3px grey;
}
.nombre-staff {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
.cv-staff {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: white;
    color: #25d366;
    transform: rotate(360deg);
}


@media (max-width: 768px) {
    .portada-main {
        display: grid;
        grid-template-areas:
        "img" 
        "texto"
        "parrafo" 
        "multimedia";
        gap: 5px;}
}
@media (min-width:768px){
    .btn-wsp{
        display: none;
        width:63px;
        height:63px;
        line-height: 66px;
	}
}