*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#encabezado {
    display: flex;
    background-color: #25e2d5;
}
#logo {
    padding: 5%;
    margin: 0; 
    width: 100px;
    height: auto;
}
#titulo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-align: center;
    margin-top: 5%;
    align-items: center;
    justify-items: center;
}
.portada-texto {
    background-image: url(../assets/portada\ dp.png);
    background-repeat: no-repeat;
    width: 100%; 
    
}
h2.texo-img {
    color: white;
    text-transform: inherit;
    text-shadow: black;
}
h1.tituloSeccion {
    font-family: 'Montserrat', sans-serif;
    color: rgb(2, 87, 87);
    text-align: center;
}
h2.subtituloSeccion {
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black;
    margin: 20px;

}
h3.descripcion {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

footer {
    text-align: center;
    color: white;
    background-color: rgb(6, 187, 187);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
}
.flex-conteiner {
    display: flex;
    background: linear-gradient(to right, rgb(4, 155, 155), aqua);
    flex-direction: row;
    height: auto;
    width: auto;
    align-content: space-around;
}
.flex-conteiner .flex-texto {   
    align-items: flex-start;

}
.flex-conteiner .flex-multimedia {
    align-items: flex-end;

}
